.container {
    font-family: 'Times New Roman', Times, serif;
    background-color: #cdb597;
    padding: 20px;
    border: 2px solid #c5b358;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header{
    background-color: #33230a;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-style: italic;
    

}

.alert {
    background-color: #fff3cd;
    border-color: #856404;
    color: #856404;
    color: #856404;
    font-weight: bold;
}

.alert-heading{
    font-size: 1.5rem;
    color: #5a3c02;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.alert p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;

}

.alert hr{
    border-top: 2px #856404;

}

.alert .mb-0{
    font-style: italic;
    font-size: 0.9rem;
    color: #6c757d;
}

